# Terraform directories
.terraform/
**/.terraform/**
.terraform.lock.hcl
terraform.rc

# Provider files
*terraform-provider*.exe
**/.terraform/providers/**/*.exe

# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.tfstate.lock.info

# Crash log files
crash.log
crash.*.log

# Exclude terraform vars files
*.tfvars
*.tfvars.json

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json